<%- include("partials/header") %>



<form class="ui form" action="/blogs" method="POST" >
    <div class="ui main text container segment" id="form">
        <div class="ui huge header">New Blog</div>
        <div class="field">
          <label>Title</label>
          <input type="text" name="blog[title]" placeholder="title">
        </div>
        <div class="field">
          <label>Image</label>
          <input type="text" name="blog[image]" placeholder="image URL">
        </div>
        <div class="field">
            <label>Blog Content</label>
            <textarea name="blog[body]" required></textarea>
        </div>
        <div class="form-group">
                <button  class="ui violet big basic button">Submit</button>
        </div> 
    </div>
</form>




      <%- include("partials/footer") %>